body {
  background-image: url('../../public/images/HKLibraryBackground.png');
  background-size: 100%;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.homeContainer{
  max-width: 70vh;
}